$fontSizes: (
  xs: 0.875rem,
  s: 1.125rem,
  m: 1.375rem,
  l: 2.75rem,
  xl: 5rem,
);

$marginTop: (6, 20, 40, 60, 90, 140, 200);

$primaryColor: #2c4058;
$secondaryColor: #ffff;
$triaryColor: #000000;
$primaryAccentColor: #55b7ff;
$secondaryAccentColor: #7e5aff;
$errorColor: #dc0844;

/*font-size:14px, 18px, 22px, 44px, 80px*/
/*#55B7FF (dates in post)*/
