@use "./variables";
@use "sass:color";

/*HEADER*/
.gallery-header {
  padding: 15px;
  background: linear-gradient(
    to right,
    color.adjust(variables.$primaryAccentColor, $alpha: -0.1),
    color.adjust(variables.$secondaryAccentColor, $alpha: -0.1)
  );
}

.gallery-photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5px;
  padding: 10px 20px;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  object-fit: cover;
  height: 500px;
}

.see-more-btn {
  display: block;
  margin: 20px auto;
}
