@use "./variables";
@use "sass:color";

@font-face {
  font-family: "Source Sans 3";
  src: url("../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
}

.home-header {
  background-image: linear-gradient(
      to right,
      color.adjust(variables.$primaryAccentColor, $alpha: -0.1),
      color.adjust(variables.$secondaryAccentColor, $alpha: -0.1)
    ),
    url("../assets/images/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: variables.$secondaryColor;
  position: relative;
  padding-top: 52px;
}

.home-header__slider-dots {
  display: none;
}

.home-header__scroll-icon {
  cursor: pointer;
  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  position: relative;
}

/*SLIDER*/

.home-header__about-us-slider {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.9;
  p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*PROJECTS*/
.home-projects {
  position: relative;
}

.projects-trade-center,
.projects-commerce-center {
  padding: 0 10px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.projects-trade-center__imgs,
.projects-commerce-center__imgs {
  display: none;
}

.projects-trade-center__text,
.projects-commerce-center__text {
  text-align: center;
}

/*NEWS*/
.news {
  padding: 130px 50px 0 50px;
  position: relative;
  background-image: linear-gradient(
    to right,
    color.adjust(#3c7fd4),
    color.adjust(#24ccfa)
  );
  &::before {
    content: "";
    background-image: url("../assets/images/img/news-bg.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }
}

.news__slider {
  margin-left: auto;
  margin-right: auto;
  height: 570px;
  .slick-slide {
    max-width: 370px;
    height: 520px;
  }
}

.news__slider-dots {
  display: none;
}

@mixin sliderArrows() {
  position: absolute;
  z-index: 1;
  transform: translate(-50%, 0);
  cursor: pointer;
}

.news .news__slider-arrow--left {
  display: none;
}

.news .news__slider-arrow--right {
  display: none;
}

/*GALLERY*/
.gallery-img-block {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.gallery-img-block__img {
  max-width: 214px;
}

/*MAP & CONTACTS*/
.map-and-contacts {
  position: relative;
  &__map {
    width: 100%;
    height: 700px;
  }
  &__form-container {
    background-image: url("../assets/images/img/contact-form-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: bottom;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: variables.$secondaryColor;
    padding: 60px 40px;
  }
}

.map-and-contacts__form-fields {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.map-and-contacts__form-input {
  padding: 14px;
  outline: 0;
  border: none;
  border-bottom: 1px solid color.adjust(variables.$primaryColor, $alpha: -0.8);
  &::placeholder {
    color: color.adjust(#4b5562, $alpha: -0.5);
  }
  &:focus {
    border-bottom: 1px solid color.adjust(variables.$primaryColor, $alpha: 0);
  }
  &:focus::placeholder {
    color: transparent;
  }
  &:focus:invalid {
    border-bottom-color: variables.$errorColor;
  }
}

/*FOOTER*/

.footer {
  background-image: linear-gradient(
      to right,
      color.adjust(variables.$primaryAccentColor, $alpha: -0.1),
      color.adjust(variables.$secondaryAccentColor, $alpha: -0.1)
    ),
    url("../assets/images/img/gallery-building-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 524px;
  color: variables.$secondaryColor;
  padding-top: 400px;
  justify-content: space-around;
}

@media only screen and (min-width: 550px) {
  .projects-trade-center__imgs,
  .projects-commerce-center__imgs {
    display: block;
    img {
      max-width: 630px;
      width: 100%;
    }
  }

  .news {
    padding-left: 100px;
    padding-right: 100px;
  }

  .gallery-img-block {
    grid-template-areas: "img-1 img-1" "img-2 img-3" "img-4 img-5";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    padding-left: 200px;
    padding-right: 200px;
  }

  @for $i from 1 through 5 {
    .img-#{$i} {
      @if $i == 1 {
        grid-area: img-#{$i};
        width: 100%;
        height: 100%;
        max-width: 580px;
      } @else {
        grid-area: img-#{$i};
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .home-header__about-us-slider {
    margin-top: 200px;
  }

  .home-header__dots-container {
    display: block;
    position: absolute;
    right: 52px;
    top: 42%;
  }

  .home-header__scroll-icon {
    transition-property: transform;
    transition-duration: 500ms;
    &:hover {
      transform: scale(1.1);
    }
  }

  .success-message {
    position: absolute;
    bottom: -25%;
    right: 20px;
    padding: 20px 40px;
    background-color: variables.$secondaryColor;
    text-wrap: nowrap;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1200px) {
  .news__slider-dots {
    display: block;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 15;
  }

  .slick-active .dots__item {
    background-color: variables.$secondaryColor;
  }

  /*PROJECTS*/
  .projects-trade-center {
    padding-top: 57px;
    padding-left: 200px;
    flex-direction: row;
    align-items: flex-start;
  }

  .projects-commerce-center {
    padding: 57px 200px 0;
    flex-direction: row;
    align-items: flex-start;
  }

  .projects-trade-center__imgs,
  .projects-commerce-center__imgs {
    img {
      width: 630px;
    }
  }

  .projects-trade-center__imgs--bg {
    position: absolute;
    background-color: variables.$primaryAccentColor;
    width: 585px;
    height: 470px;
    top: 120px;
    left: 0;
    z-index: -1;
  }

  .projects-commerce-center__imgs--bg {
    position: absolute;
    background-color: variables.$secondaryAccentColor;
    width: 585px;
    height: 470px;
    bottom: 70px;
    right: 0;
    z-index: -1;
  }

  .projects-trade-center {
    gap: 70px;
  }

  .projects-trade-center__text,
  .projects-commerce-center__text {
    text-align: left;
    p {
      width: 60%;
    }
  }

  .news {
    padding: 130px 250px 135px;
  }

  .news__slider-arrow--left {
    display: block;
    @include sliderArrows();
    top: 55%;
    left: 10%;
  }

  .news__slider-arrow--right {
    display: block;
    @include sliderArrows();
    top: 55%;
    right: 10%;
  }

  /*GALLERY*/
  .gallery-img-block {
    grid-template-areas: "img-1 img-2 img-3" "img-1 img-4 img-5";
    grid-template-columns: 580px 285px 285px;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding-left: 200px;
    padding-right: 200px;
  }

  /*MAP & CONTACTS*/

  .map-and-contacts__form-container {
    padding: 60px;
  }

  .map-and-contacts__form-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  .map-and-contacts__form-fields-btn {
    align-self: flex-end;
  }

  /*FOOTER*/

  .footer {
    padding-top: 200px;
  }
}

@media only screen and (min-width: 1800px) {
  .home-header__about-us-slider {
    margin-top: 320px;
  }
}
