@use "./variables";
@use "sass:color";

@font-face {
  font-family: "Source Sans 3";
  src: url("../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
}

/*HEADER*/

.home-header {
  background-image: linear-gradient(
      to right,
      color.adjust(variables.$primaryAccentColor, $alpha: -0.1),
      color.adjust(variables.$secondaryAccentColor, $alpha: -0.1)
    ),
    url("../assets/images/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: variables.$secondaryColor;
  position: relative;
}

.navbar {
  color: variables.$secondaryColor;
}

.navbar-list__logo {
  object-fit: contain;
}

.navbar-list__links {
  display: none;
  font-family: "Source Sans 3", sans-serif;
  text-transform: uppercase;
  &--mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: variables.$secondaryAccentColor;
    width: 100vw;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    gap: 20px;
    text-align: center;
    padding: 20%;
    z-index: 1;
  }
}

.navbar-list__mobile-links {
  display: block;
}

.navbar-list__social-icons {
  display: none;
}

.home-header__slider-dots {
  display: none;
}

.home-header__scroll-icon {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  margin-top: 150px;
}

/*SLIDER*/

.home-header__about-us-slider {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.9;
  p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*PROJECTS*/
.home-projects {
  position: relative;
}

.projects-trade-center,
.projects-commerce-center {
  padding: 0 10px;
}

.section-heading {
  position: relative;
  margin-top: 130px;
  &:after {
    content: "";
    position: absolute;
    background-color: variables.$primaryColor;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 1px;
    width: 100px;
  }
}

.projects-trade-center__imgs,
.projects-commerce-center__imgs {
  display: none;
}

.projects-trade-center__text,
.projects-commerce-center__text {
  text-align: center;
}

@media only screen and (min-width: 550px) {
  .home-header {
    padding-top: 52px;
  }

  .navbar-list__social-icons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .navbar-list__links {
    &--mobile-menu {
      top: 120px;
    }
  }
}

@media only screen and (min-width: 1000px) {
  .navbar-list__mobile-links {
    display: none;
  }

  .navbar-list__links {
    display: flex;
    gap: 70px;
  }

  .home-header__about-us-slider {
    margin-top: 280px;
  }

  .home-header__dots-container {
    display: block;
    position: absolute;
    right: 52px;
    top: 42%;
  }

  .dots {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    &__item {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid variables.$secondaryColor;
      cursor: pointer;
      background-color: transparent;
    }
  }

  .slick-active .dots__item {
    background-color: variables.$secondaryColor;
  }

  /*PROJECTS*/
  .projects-trade-center {
    padding-top: 57px;
    padding-left: 200px;
  }

  .projects-commerce-center {
    padding: 57px 200px 0;
  }

  .projects-trade-center__imgs,
  .projects-commerce-center__imgs {
    display: block;
  }

  .projects-trade-center__imgs--bg {
    position: absolute;
    background-color: variables.$primaryAccentColor;
    width: 585px;
    height: 470px;
    top: 120px;
    left: 0;
    z-index: -1;
  }

  .projects-commerce-center__imgs--bg {
    position: absolute;
    background-color: variables.$secondaryAccentColor;
    width: 585px;
    height: 470px;
    bottom: 70px;
    right: 0;
    z-index: -1;
  }

  .projects-trade-center {
    gap: 70px;
  }

  .projects-trade-center__text,
  .projects-commerce-center__text {
    text-align: left;
    p {
      width: 60%;
    }
  }
}

@media only screen and (min-width: 1800px) {
  .home-header__about-us-slider {
    margin-top: 320px;
  }
}
