@use "./variables";

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
  font-style: italic;
}

/*HELPER CLASSES*/

@function setResponsiveFontSize($fontSize) {
  @return clamp($fontSize - 1rem, 0.75rem + 3.5vw, $fontSize);
}

@each $name, $fontSize in variables.$fontSizes {
  .fs-#{$name} {
    font-size: setResponsiveFontSize(#{$fontSize});
  }
}

@each $margin in variables.$marginTop {
  .mt-#{$margin} {
    margin-top: #{$margin}px;
  }
}

.me-10 {
  margin-right: 10px;
}

.primary-txt-color {
  color: variables.$primaryColor;
}

.secondary-txt-color {
  color: variables.$secondaryColor;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.lh-16 {
  line-height: 1.6;
}

.secondary-font {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

.secondary-font-italic {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.circle-icon {
  margin-right: 8px;
  height: 10px;
  width: 10px;
}

.fw-bold {
  font-weight: 700;
}

.mt-20 {
  margin-top: 20px;
}

.w-70 {
  width: 70%;
}

@mixin section-heading($color) {
  position: relative;
  margin-top: 130px;
  color: $color;
  &:after {
    content: "";
    position: absolute;
    background-color: $color;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 1px;
    width: 100px;
  }
}

.section-heading-black {
  @include section-heading(variables.$primaryColor);
}

.section-heading-white {
  @include section-heading(variables.$secondaryColor);
}

.object-fit-contain {
  object-fit: contain;
}

@mixin dots {
  display: flex;
  gap: 2rem;
}

.dots__item {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid variables.$secondaryColor;
  cursor: pointer;
  background-color: transparent;
}

.dots-header {
  justify-content: space-between;
  flex-direction: column;
  @include dots;
}

.dots-news {
  @include dots;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: variables.$secondaryColor;
  margin-right: 30px;
  &-info {
    padding: 20px 20px 20px 30px;
  }
  &-author-container {
    display: grid;
    grid-template-areas:
      "auth-img auth-name"
      "auth-img auth-date";
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    justify-content: center;
  }
  &-author-img {
    grid-area: auth-img;
    border-radius: 50%;
  }
  &-author-name {
    grid-area: auth-name;
  }
  &-post-date {
    grid-area: auth-date;
    color: variables.$primaryAccentColor;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: variables.$secondaryColor;
}

@mixin primaryBtn($width) {
  border: 1px solid variables.$primaryColor;
  font-family: "Montserrat";
  height: 50px;
  width: $width;
  background-color: transparent;
}

.primaryBtn {
  @include primaryBtn(190px);
}

.formBtn {
  @include primaryBtn(140px);
}

@media only screen and (min-width: 550px) {
  .circle-icon {
    margin-right: 14px;
  }
}
