@use "./variables";
@use "sass:color";

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
  font-style: italic;
}

/*HELPER CLASSES*/

@function setResponsiveFontSize($fontSize) {
  @return clamp($fontSize - 1rem, 0.75rem + 3.5vw, $fontSize);
}

@each $name, $fontSize in variables.$fontSizes {
  .fs-#{$name} {
    font-size: setResponsiveFontSize(#{$fontSize});
  }
}

@each $margin in variables.$marginTop {
  .mt-#{$margin} {
    margin-top: #{$margin}px;
  }
}

.me-10 {
  margin-right: 10px;
}

.primary-txt-color {
  color: variables.$primaryColor;
}

.secondary-txt-color {
  color: variables.$secondaryColor;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.lh-16 {
  line-height: 1.6;
}

.secondary-font {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

.secondary-font-italic {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.circle-icon {
  margin-right: 8px;
  height: 10px;
  width: 10px;
}

.fw-bold {
  font-weight: 700;
}

.mt-20 {
  margin-top: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

@mixin section-heading($color, $margin-top) {
  position: relative;
  margin-top: $margin-top;
  color: $color;
  &:after {
    content: "";
    position: absolute;
    background-color: $color;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 1px;
    width: 100px;
  }
}

.section-heading-black {
  @include section-heading(variables.$primaryColor, 130px);
  &--form {
    @include section-heading(variables.$primaryColor, 0px);
  }
}

.section-heading-white {
  @include section-heading(variables.$secondaryColor, 0px);
}

.object-fit-contain {
  object-fit: cover;
}

.object-scale-down {
  object-fit: scale-down;
}

.card {
  background-color: variables.$secondaryColor;
  margin-right: 30px;
  img {
    width: 100%;
  }
  &-info {
    padding: 20px 20px 20px 30px;
  }
  &-author-container {
    display: grid;
    grid-template-areas:
      "auth-img auth-name"
      "auth-img auth-date";
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }
  &-author-img {
    grid-area: auth-img;
    border-radius: 50%;
  }
  &-author-name {
    grid-area: auth-name;
  }
  &-post-date {
    grid-area: auth-date;
    color: variables.$primaryAccentColor;
  }
}

.marker {
  position: relative;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 15px 0px #b0b0b0;
}
.marker::after {
  height: 16px;
  width: 16px;
  background-color: #7e5aff;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  content: "";
  transform: translate(-50%, 0);
  top: 40%;
  left: 50%;
}
.marker::before {
  width: 106px;
  height: 106px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.7;
  content: "";
  transform: translate(-50%, 0);
  top: -30%;
  left: 50%;
  z-index: 0;
  position: absolute;
}

.social-icons {
  display: none;
}

.error-color {
  color: variables.$errorColor;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: variables.$secondaryColor;
  cursor: pointer;
}

@mixin primaryBtn($width) {
  border: 1px solid variables.$primaryColor;
  position: relative;
  font-family: "Montserrat";
  height: 50px;
  width: $width;
  background-color: transparent;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: 50px;
    background: linear-gradient(
      to right,
      color.adjust(variables.$primaryAccentColor, $alpha: -0.6),
      color.adjust(variables.$secondaryAccentColor, $alpha: -0.6)
    );
    border-color: transparent;
    transform: scale(0.1);
    opacity: 0;
    z-index: -1;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }

  &:hover::after {
    opacity: 1;
    transform: scale(1);
  }
}

.primary-btn {
  @include primaryBtn(190px);
}

.form-btn {
  @include primaryBtn(140px);
}

/*HEADER*/
.navbar {
  color: variables.$secondaryColor;
}

.navbar-list__logo {
  object-fit: contain;
}

.navbar-list__links {
  display: none;
  font-family: "Source Sans 3", sans-serif;
  text-transform: uppercase;
  &--mobile-menu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 24px;
    background-color: variables.$secondaryAccentColor;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    gap: 20px;
    text-align: center;
    padding: 20%;
    z-index: 1;
  }
}

.navbar-list__links-icon--mobile {
  position: absolute;
  top: 5%;
  left: 90%;
}

.navbar-list__mobile-links {
  display: block;
}

@media only screen and (min-width: 550px) {
  .circle-icon {
    margin-right: 14px;
  }
  .social-icons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    a {
      position: relative;
      &:hover::after,
      &:active:after {
        content: "";
        width: 50px;
        height: 50px;
        background-color: color.adjust(variables.$secondaryColor, $alpha: -0.9);
        box-shadow: inset 0px 0px 2px 2px
          color.adjust(variables.$secondaryColor, $alpha: -0.5);
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-10%, -10%);
        border-radius: 50%;
        z-index: 0;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .navbar-list__mobile-links {
    display: none;
  }

  .navbar-list__links-icon--mobile {
    display: none;
  }

  .navbar-list__links {
    display: flex;
    align-items: center;
    gap: 70px;
    li:hover {
      svg {
        fill: variables.$secondaryColor;
      }
    }
  }

  @mixin dots {
    display: flex;
    gap: 2rem;
  }

  .dots__item {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid variables.$secondaryColor;
    cursor: pointer;
    background-color: transparent;
  }

  .dots-header {
    justify-content: space-between;
    flex-direction: column;
    @include dots;
  }

  .dots-news {
    @include dots;
    justify-content: center;
    align-items: center;
  }
}
