@use "./variables";

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
  font-style: italic;
}

/*HELPER CLASSES*/

@function setResponsiveFontSize($fontSize) {
  @return clamp($fontSize - 1rem, 0.75rem + 3.5vw, $fontSize);
}

@each $name, $fontSize in variables.$fontSizes {
  .fs-#{$name} {
    font-size: setResponsiveFontSize(#{$fontSize});
  }
}

@each $margin in variables.$marginTop {
  .mt-#{$margin} {
    margin-top: #{$margin}px;
  }
}

.me-10 {
  margin-right: 10px;
}

.primary-txt-color {
  color: variables.$primaryColor;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.lh-16 {
  line-height: 1.6;
}

.secondaryFont {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

.secondaryFontItalic {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.circle-icon {
  margin-right: 8px;
  height: 10px;
  width: 10px;
}

.fw-bold {
  font-weight: 700;
}

.mt-20 {
  margin-top: 20px;
}

.w-70 {
  width: 70%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: variables.$secondaryColor;
}

@mixin primaryBtn($width) {
  border: 1px solid variables.$primaryColor;
  font-family: "Montserrat";
  height: 50px;
  width: $width;
  background-color: transparent;
}

.primaryBtn {
  @include primaryBtn(190px);
}

.formBtn {
  @include primaryBtn(140px);
}

@media only screen and (min-width: 550px) {
  .circle-icon {
    margin-right: 14px;
  }
}
